<div class="slide_header">
  <h3 class="pull-right">Intro to Web Dev with Ember CLI  <i class="fa fa-twitter"></i> @lydiaguarino</h3>
</div>
<div class="slide_content">
  {{outlet}}
</div>
<h1 id="title"><i class="fa fa-camera"></i>Intro to Web Dev</h1>
<h2 id="title">With Ember CLI</h2>
<h3 id="title">Lydia Guarino</h3>

<div class="slide_footer">
  <h3 class="pull-left">{{currentPath}}</h3>
  {{slide-counter}}
</div>
